<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header text-white cardheader">REGISTRO DE TICKETS</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 col-sm-12 mt-3">
            <label for="ciudad">Fecha del ticket</label>
            <form class="row row-cols-sm-auto align-middle">
              <div class="col-12">
                <div class="input-group">
                  <input [disabled]="loading" class="form-control" placeholder="dd/mm/aaaa"
                  name="d2" #c2="ngModel" [(ngModel)]="fechaTicket" ngbDatepicker #d1="ngbDatepicker">
                  <button [disabled]="loading" class="btn btn-outline-secondary fas fa-calendar-alt" (click)="d1.toggle()" type="button"></button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-3 col-sm-12 mt-3">
            <label for="ciudad">Hora del ticket</label>
            <ngb-timepicker [disabled]="loading" [(ngModel)]="horaTicket" [meridian]=true [spinners]=false></ngb-timepicker>
          </div>
          <div class="col-md-3 col-sm-12 mt-3">
            <label for="ciudad">Fecha de respuesta/contacto</label>
            <form class="row row-cols-sm-auto align-middle">
              <div class="col-12">
                <div class="input-group">
                  <input [disabled]="loading" class="form-control" placeholder="dd/mm/aaaa"
                  name="d2" #c2="ngModel" [(ngModel)]="fechaRespuesta" ngbDatepicker #d2="ngbDatepicker">
                  <button [disabled]="loading" class="btn btn-outline-secondary fas fa-calendar-alt" (click)="d2.toggle()" type="button"></button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-3 col-sm-12 mt-3">
            <label for="ciudad">Hora de respuesta/contacto</label>
            <ngb-timepicker [disabled]="loading" [(ngModel)]="horaRespuesta" [meridian]=true [spinners]=false></ngb-timepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mt-3">
            <label>Colaborador</label>
            <div class="ng-autocomplete" id="inputSucursal">
              <ng-autocomplete #inputUsuario name="usuarios"
                [data]="usuarios"
                [disabled]="loading"
                [searchKeyword]="keywordUsuarios"
                (selected)='selectEventUsuario($event)'
                [placeholder]='placeholderUsuario'
                (inputChanged)='onChangeSearch($event)'
                (inputCleared)='onCleared($event)'
                (inputFocused)='onFocusedUsuario($event)'
                [itemTemplate]="itemTemplateUsuario"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>
              <ng-template #itemTemplateUsuario let-item>
                <a>
                  <span [innerHTML]="item.nombre"></span>
                </a>
              </ng-template>
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <label for="ciudad">UEN</label>
            <input [(ngModel)]="uenUsuario" class="form-control" [disabled]=true
              type="text" name="uenInput" id="uenInput" placeholder="UEN del colaborador">
          </div>
          <div class="col-md-4 mt-3">
            <label>Asignación de ticket</label>
            <div class="form-check">
              <input [disabled]="loading" class="form-check-input" type="radio" name="flexRadioDefault" id="radioButtonUen">
              <label class="form-check-label" for="radioButtonUen">
                UEN
              </label>
            </div>
            <div class="form-check">
              <input [disabled]="loading" class="form-check-input" type="radio" name="flexRadioDefault" id="radioButtonUsuario" checked>
              <label class="form-check-label" for="radioButtonUsuario">
                Usuario
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mt-3">
            <label for="servicio">Servicio</label>
            <select [disabled]="loading" (change)="getTiposServicios()" [(ngModel)]="ticket.servicio" id="servicio" class="form-control"
              name="servicio">
              <option value= null disabled selected>Selecciona un servicio...</option>
              <option *ngFor="let servicio of servicios"
              value="{{ servicio.idservicios }}">{{ servicio.servicio }}</option>
            </select>
          </div>
          <div class="col-md-3 mt-3">
            <label for="tipoServ">Tipo de servicio</label>
            <select [disabled]="loading" (change)="getActividades()" [(ngModel)]="ticket.tiposervicio" id="tipoServ" class="form-control"
              name="tipoServ">
              <option value= null disabled selected>Selecciona un tipo de servicio...</option>
              <option *ngFor="let tiposervicio of tiposServicios"
              value="{{ tiposervicio.idtipos_servicio }}">{{ tiposervicio.tiposervicio }}</option>
            </select>
          </div>
          <div class="col-md-3 mt-3">
            <label for="actividadSelect">Actividad</label>
            <select [disabled]="loading" [(ngModel)]="ticket.actividad" id="actividadSelect" class="form-control"
              name="actividadSelect">
              <option value= null disabled selected>Selecciona una actividad...</option>
              <option *ngFor="let actividad of actividades"
              value="{{ actividad.id_actividad }}">{{ actividad.actividad }}</option>
            </select>
          </div>
          <div class="col-md-3 mt-3">
            <label for="selectAsignacion">Asignar ticket a:</label>
            <select [disabled]="loading" [(ngModel)]="ticket.asignacion" id="selectAsignacion" class="form-control"
              name="tipoServ">
              <option value= null disabled selected>Ing. para asignar ticket...</option>
              <option *ngFor="let ing of equipoSistemas"
              value="{{ ing.idempleado }}">{{ ing.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="row d-flex justify-content-around">
          <div [hidden]="!asignaEquipo" class="col-md-4 mt-3">
            <label for="problemareportado">Equipo</label>
            <select [disabled]="loading" (change)="selectEquipoChange()" [(ngModel)]="equipoticket"
              id="problema" class="form-control" name="problema">
              <option value=null disabled selected>Selecciona un equipo...</option>
              <option *ngFor="let equipo of equiposUsuario"
              value="{{equipo.idequipo }}">{{ equipo.equipo }}</option>
            </select>
          </div>
          <div [hidden]="!asignaEquipo" class="col-md-4 mt-3">
            <label for="tipomaq">Tipo de equipo</label>
            <input [disabled]="loading" [(ngModel)]="tipoEquipo" class="form-control" [disabled]=true
            type="text" name="tipoEquipo" id="tipoEquipo" placeholder="Clasificación del equipo">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 mt-3">
                <label for="correo">Correo de contacto</label>
                <input disabled id="correo" class="form-control" placeholder="Escriba su correo..." type="email" name="correo" [(ngModel)]="correo">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-3">
                <label for="correo">Teléfono de contacto</label>
                <input disabled (keyup)='onKeyUpNoTel()' id="telefono"
                  class="form-control" placeholder="Escriba su telefono..."
                  type="number" name="telefono" [(ngModel)]="telefono">
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <label for="comments">Descripción del servicio</label>
            <textarea [disabled]="loading" [(ngModel)]="ticket.descripcion" placeholder="Escriba la descripción del servicio solicitado..." class="form-control" name="comments"
              id="commentsinput" cols="50" rows="5"></textarea>
          </div>
          <div class="col-md-4 mt-3">
            <label for="comments">Comentarios</label>
            <textarea [disabled]="loading" [(ngModel)]="ticket.comentarios" placeholder="Comentarios del ticket..." class="form-control" name="comments"
              id="commentsinput" cols="50" rows="5"></textarea>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div [hidden]="!loading" class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
        <div class="row mt-4 d-flex justify-content-around">
          <div class="col-md-4 col-sm-12">
            <button [disabled]="loading" (click)="registrarTicket()" class="mt-4 form-control btn
              btn-success">Registrar ticket<i class="far fa-share-square
                ml-2"></i></button>
          </div>
          <div class="col-md-4 col-sm-12">
            <button [disabled]="loading" (click)="clearInputs()" class="mt-4 form-control btn
              btn-warning">Limpiar formulario<i class="fas fa-snowplow
                ml-2"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal de confirmación de registro de reporte-->
<div class="modal fade" id="nuevoReporteModal" tabindex="-1"
  aria-labelledby="nuevoReporteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title">Ticket registrado</h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="alert alert-success" role="alert">
                <p>¡El ticket fue registrado exitosamente! el día:  a la
                  hora: con el número de folio: </p>
                <p class="folioregistro">{{ reporteid }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continuar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal de error-->
<div class="modal fade" id="advertenciaModal" tabindex="-1"
  aria-labelledby="advertenciaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 id="headerModal" class="modal-title"></h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div id="alertModal" class="alert alert-warning" role="alert">
                <p id="modalText"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continuar</button>
      </div>
    </div>
  </div>
</div>
