<div *ngIf="[sessionStorage.getItem('user')]!=''; else elseBlock">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
      <div class="list-group list-group-flush">
        <a id="img-logo-top-menu">
          <img id="logo-alfagamma" src="https://alfagamma.com.mx/assets/images/logo/PAG.png">
        </a>
        <hr style="color: white;">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button routerLink="/" style="color:white;" class="nav-link active text-start" id="generarTicket" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" >Generar ticket</button>
          <button routerLink="/vereportes" style="color:white;" class="nav-link text-start" id="gestionarTicket" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" >Gestionar tickets</button>
          <button *ngIf="[sessionStorage.getItem('depto')]=='4' || [sessionStorage.getItem('depto')]=='5' || [sessionStorage.getItem('depto')]=='6'" routerLink="/mngusuarios" style="color:white;" class="nav-link text-start" id="getsionarUsuario" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" >Gestionar usuarios</button>
          <button *ngIf="[sessionStorage.getItem('depto')]=='4' || [sessionStorage.getItem('depto')]=='5' || [sessionStorage.getItem('depto')]=='6'" routerLink="/mngservicios" style="color:white;" class="nav-link text-start" id="gestionarServicios" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" >Gestionar servicios</button>
          <button *ngIf="[sessionStorage.getItem('depto')]=='4' || [sessionStorage.getItem('depto')]=='5' || [sessionStorage.getItem('depto')]=='6'" routerLink="/mngcolaboradores" style="color:white;" class="nav-link text-start" id="gestionarColabs" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" >Gestionar colaboradores y equipos</button>
        </div>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid p-4">
        <div class="row d-flex justify-content-between mb-3">
            <button class="btntoggle" type="button" (click)="clickEvent()"><span>{{estatussidebar}}</span></button>
            <div class="col-6">
              <div *ngIf="cantidadTA != '0'" class="alert alert-danger text-center" role="alert">
                <p [style]="{'font-size':'large', 'font-weight':'bold', 'margin-bottom': '0'}">Tienes {{cantidadTA}} tickets abiertos hace más de un día.</p>
                <p [style]="{'font-size':'large', 'margin-bottom': '0'}">(aparecen resaltados en color rojo en la tabla)</p>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-end">
              <button (click)="cerrarSesion()" routerLink="/vereportes" class="btn btn-danger form-control">Cerrar sesión <i class="fas fa-sign-out-alt"></i></button>
            </div>
        </div>
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <app-login></app-login>
</ng-template>
