<!--vereportes card-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
          <div class="card-header text-light text-white cardheader">VER REPORTES</div>
          <div class="card-body">
            <div class="row d-flex justify-content-between">
              <div class="col-md-3 mb-3">
                <label for="folio" class="form-label">Folio de reporte</label>
                <div class="input-group">
                  <input [(ngModel)]="folioreporte" name="folioreporte" id="folioreporte" type="number" class="form-control" placeholder="Escriba el folio del reporte" aria-describedby="button-addon2">
                  <button (click)="buscaReporteFolio()" class="btn btn-primary" type="button" id="button-addon2">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-end">
                <button (click)="downloadExcelFile()" [hidden]="noInfo" type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar reporte en archivo excel">
                  <img src="assets/excel.png"class="img-fluid" alt="descargaarchivoexcel">
                </button>
              </div>
            </div>
            <hr class="mb-4">
            <div class="row d-flex justify-content-between">
              <div class="col-md-2 mb-3">
                <label for="fecha1" class="form-label">Fecha inicial</label>
                <input [(ngModel)]="fecha1" class="form-control" name="Fecha1" id="fecha1" type="date" placeholder="Seleccione la fecha inicial" aria-label="">
              </div>
              <div class="col-md-2 mb-3">
                <label for="fecha2" class="form-label">Fecha límite</label>
                <input [(ngModel)]="fecha2" class="form-control" name="Fecha2" id="fecha2" type="date" placeholder="Seleccione la fecha límite" aria-label="">
              </div>
              <div class="col-md-2 mb-3">
                <label for="sucursal">UEN</label>
                <select [(ngModel)]="sucursal" class="form-control" name="sucursal" id="sucursalselect">
                  <option value = null disabled selected>Seleccione UEN...</option>
                  <option value = "Todos">Todas</option>
                  <option *ngFor="let sucursal of sucursales " value="{{ sucursal.estado }}">{{ sucursal.estado }}</option>
                </select>
              </div>
              <div class="col-md-2 mb-3">
                <label for="estatus">Estatus</label>
                <select [(ngModel)]="estatusrep" class="form-control" name="estatus" id="estatusselect">
                  <option value = null disabled selected>Seleccione un estatus...</option>
                  <option value = "Todos">Todos</option>
                  <option *ngFor="let estado of estatus " value="{{ estado.idestatus }}">{{ estado.estatus }}</option>
                </select>
              </div>
              <div class="col-md-2 mb-3">
                <div class="row d-flex justify-content-center">
                  <button (click)="buscaReportes()" type="button" name="searchreports" id="btnbuscar" class="form-control btn btn-primary">Buscar reportes <i class="ml-3 fa fa-search" aria-hidden="true"></i></button>
                </div>
                <div class="row d-flex justify-content-center">
                  <button (click)="clearInputs()" type="button" name="clear" id="btnlimpiar" class="mt-4 form-control btn btn-warning">Limpiar <i class="ml-3 fa fa-exclamation-triangle" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" [hidden]="noInfo">
            <div class="col-md-12">
              <table class="table table-responsive-lg table-hover text-white">
                <thead>
                    <tr>
                    <th scope="col">Folio</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Tipo de máquina</th>
                    <th scope="col">Problema reportado</th>
                    <th scope="col">Fecha de reporte</th>
                    <th scope="col">Persona que reportó</th>
                    <th scope="col">Comentarios</th>
                    <th scope="col">Detalles del reporte</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reporte of reportes" class="table-active">
                      <th scope="row">{{reporte.id}}</th>
                      <td>{{reporte.estatus}}</td>
                      <td>{{reporte.tipomaq}}</td>
                      <td>{{reporte.problema_reportado}}</td>
                      <td>{{reporte.fecha}}</td>
                      <td>{{reporte.nombre}}</td>
                      <td>{{reporte.comentarios}}</td>
                      <div class="d-flex justify-content-center" *ngIf="[sessionStorage.getItem('user')]!=''; else elseBlock">
                        <td><button style="height:auto;" (click)="onReporteButtonClick($event)" type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver cambios en el reporte "><i class="far fa-file-alt" aria-hidden="true"></i></button>
                        <button style="height:auto;" (click)="onEditReporteButtonClick($event)" type="button" class="ml-2 btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar el reporte"> <i class="fas fa-edit"></i> </button>
                        </td>
                      </div>
                      <ng-template #elseBlock>
                        <div class="d-flex justify-content-center">
                          <td><button style="height:auto;" (click)="onReporteButtonClick($event)" type="button" class="form-control btn btn-success">Ver cambios en el reporte <i class="ml-3 far fa-file-alt" aria-hidden="true"></i></button></td>
                        </div>
                      </ng-template>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="jumbotron shadow-sm" [hidden]="!noInfo">
            <h3><i class="fas fa-info-circle pr-3"></i>No hay información para mostrar.</h3>
          </div>
      </div>
    </div>
  </div>
</div>

<!-----------------------------------------MODAL DE ERROR DE REPORTE DE ERROR------------------------------------------>
<div class="modal" id="noreportemodal" role="dialog" tabindex="-1" aria-labelledby="noreportemodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header cardheader text-light">
        <h5 class="modal-title">Aviso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="alert alert-warning" role="alert"><i class="mr-2 fa fa-exclamation-triangle" aria-hidden="true"></i> No se encontraron reportes con los datos proporcionados</div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-----------------------------------------MODAL DE HISTORIAL DE REPORTES------------------------------------------>
<div class="modal" id="detallereportemodal" role="dialog" tabindex="-1" aria-labelledby="noreportemodal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header cardheader text-light">
        <h5 class="modal-title">Historial de cambios en el reporte con el folio: {{idReporte}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-responsive-lg table-hover text-white">
                <thead>
                    <tr>
                    <th scope="col">Estatus</th>
                    <th scope="col">Fecha del cambio</th>
                    <th scope="col">Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let detallereporte of detallesreporte" class="table-active">
                      <td>{{detallereporte.estatus}}</td>
                      <td>{{detallereporte.fecha}}</td>
                      <td>{{detallereporte.comentarios}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-primary col-md-3" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-----------------------------------------MODAL DE CAMBIOS A REPORTES------------------------------------------>
<div class="modal" id="editareportemodal" role="dialog" tabindex="-1" aria-labelledby="noreportemodal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header cardheader text-light">
        <h5 class="modal-title">Hacer cambios en el reporte con el folio: {{idReporte}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row d-flex justify-content-between">
            <div class="mb-3 col-md-5">
                <label id="selectstatus_label" for="selectstatus"></label>
                <div class="input-group mb-3">
                    <label for="estatus" class="form-label">Seleccione un nuevo estatus para el reporte</label>
                    <select [(ngModel)] = "estatusnuevo" id="selectstatus" name="selectstatus" class="form-control form-select" aria-label="selectestatus">
                        <option value = null disabled selected>Seleccione un estatus...</option>
                        <option *ngFor="let estado of estatus " value="{{ estado.idestatus }}">{{ estado.estatus }}</option>
                    </select>
                    <div class="invalid-feedback">
                        Debe seleccionar un estatus nuevo
                    </div>
                </div>
            </div>
            <div class="mb-3 col-md-5">
              <label for="comentarios" class="form-label">Ingrese sus comentarios sobre el reporte</label>
              <textarea [(ngModel)] = "commentsnew" placeholder="Escriba sus comentarios..." id="inputcomments" name="comments" rows="5" class="form-control"></textarea>
              <div class="invalid-feedback">
                  Debe ingresar comentarios de la actualizacion del reporte
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="guardarCambios()" type="button" class="btn btn-block btn-primary col-md-3">Guardar cambios</button>
        <button (click)="cancelarCambios()" type="button" class="btn btn-block btn-danger col-md-3" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-----------------------------------------MODAL DE CAMBIOS A REPORTES------------------------------------------>
<div class="modal" id="confirmload" role="dialog" tabindex="-1" aria-labelledby="noreportemodal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header cardheader text-light">
        <h5 class="modal-title">Cambios guardados</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row d-flex justify-content-between">
            <h5 class="modal-title">Cambios guardados exitosamente <i class="ml-2 far fa-check-circle"></i></h5>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-success col-md-5" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
